#content{
    overflow-y: scroll !important;
}

#content::-webkit-scrollbar{
    width: 0px !important;
}

.project-treelist.dx-treelist .dx-row > td {
    padding: 0px 0px !important;
    height: 34px;
}

.project-treelist .dx-select-checkbox,
.project-treelist .dx-select-checkbox > td:not(.dx-focused),
.project-treelist .dx-select-checkbox > tr > td:not(.dx-focused) {
    display: none;
}

.project-treelist .dx-selection td {
    background-color: #ffefbb !important;
    color: inherit !important;
}

.project-treelist
.dx-treelist-rowsview
.dx-row-focused.dx-data-row
> td:not(.dx-focused) {
    background-color: transparent;
    color: inherit !important;
}

.project-treelist
.dx-treelist-rowsview
.dx-row-focused.dx-data-row
.dx-command-edit:not(.dx-focused)
.dx-link {
    color: #337ab7 !important;
}

.project-treelist .dx-treelist-rowsview .dx-row-focused.dx-data-row > td {
    border-bottom-color: #e0e0e0 !important;
}

.project-treelist .dx-treelist-icon-container.dx-editor-inline-block {
    padding-top: 8px;
    padding-right: 0px !important;
}

.project-treelist .dx-editor-cell .dx-texteditor .dx-texteditor-input {
    height: 16px !important;
}

.project-treelist .dx-treelist-revert-tooltip {
    display: none;
}

.project-treelist .dx-treelist-focus-overlay:after {
    background-color: #4285f4;
}

.project-treelist .dx-editor-cell .dx-texteditor .dx-texteditor-input {
    padding: 0 8px;
}

.project-treelist .dx-treelist-rowsview .dx-treelist-empty-space {
    width: 14px;
}

.project-treelist .dx-treelist-focus-overlay {
    border: none;
}

.project-treelist .dx-treelist-rowsview .dx-treelist-collapsed span::before {
    margin-left: 3px !important;
}

.project-treelist .dx-treelist-rowsview .dx-treelist-expanded span::before {
    margin-left: 3px !important;
}

.project-treelist-column .dx-treelist-text-content {
    display: block !important;
}

.project-treelist .dx-column-indicators .dx-sort.dx-sort-up {
    padding-top: 8px !important;
}

.project-treelist .dx-column-indicators .dx-sort.dx-sort-down {
    padding-top: 8px !important;
}

.project-treelist-item-column .dx-treelist-text-content {
    display: block !important;
}

.estimate-auto-item-checkbox {
    accent-color: #4285f4;
    cursor: pointer;
}
.dx-context-menu .dx-menu-items-container {
    padding: 0px !important;
}

.project-treelist .dx-treelist-rowsview .dx-row:focus {
    background-color: transparent !important;
    color: inherit !important;
}  

.treelist-edit-button {
    border: none;
    cursor: pointer;
    font-weight: 700 !important;
    background-color: transparent;
    color: #405189 !important;
}

.treelist-delete-button {
    border: none;
    cursor: pointer;
    color: red !important;
    background-color: transparent;
}

.status-badge {
    display: flex !important;
    font-size: 12px !important;
    padding: 6px 15px !important;
    margin-left: 6px !important;
    align-items: center !important;
}