.setting-btn {
    width: 35px;
    height: 35px;
    
    padding: 1px;
    font-size: 14px;
    font-weight: 500;
    border-radius: 18px;

    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    
    cursor: pointer;
    color: #0A1A1E;
    border: 1px solid #eeeeee;
}

.setting-btn:hover {
    border: 1px solid black;
}