.setting-btn {
    font-size: 13px;
    line-height: 24px;
    padding: 1px;
    border-radius: 18px;
    text-align: center;
    width: 30px;
    font-weight: 500;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: #0A1A1E;
    border: 1px solid #eeeeee;
}

.setting-btn:hover {
    border: 1px solid black;
}